<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th style="text-align: center" scope="col">ID</th>
    <th style="text-align: center" scope="col">Full name</th>
    <th style="text-align: center" scope="col">Birth day</th>
    <th style="text-align: center" scope="col">Gender</th>
    <th style="text-align: center" scope="col">Id card</th>
    <th style="text-align: center" scope="col">Phone</th>
    <th style="text-align: center" scope="col">Email</th>
    <th style="text-align: center" scope="col">Address</th>
    <th style="text-align: center" scope="col">Type customer</th>
    <th style="text-align: center" scope="col">Edit</th>
    <th style="text-align: center" scope="col">Delete</th>
  </tr>
  </thead>
  <tbody id="customerList">
  </tbody>
</table>
