<div class="container">
  <div class=" bg-light">
    <div class="h1 center-box"> CHỈNH SỬA DỊCH VỤ</div>
    <form  method="post" class="p-3">
      <div class="form-group">
        <input class="form-control" type="hidden">
      </div>
      <div class="form-group">
        <label>Nhập Tên dịch vụ</label>
        <input placeholder="Nhập tiêu đề" class="form-control">
      </div>

      <div class="form-group">
        <label>Nhập diện tích sử dụng</label>
        <input  placeholder="Nhập nội dung" class="form-control">
      </div>

      <div class="form-group">
        <label>Nhập chi phí thuê</label>
        <input  placeholder="Nhập nội dung" class="form-control">
      </div>

      <div class="form-group">
        <label>Nhập số lượng người tối đa</label>
        <input  placeholder="Nhập nội dung" class="form-control">
      </div>

      <div class="form-group">
        <label>Nhập kiểu thuê</label>
        <input  placeholder="Nhập ngày đăng" class="form-control">
      </div>


      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
  </div>
</div>
