<div class="col-12" style="background-color: #c8d0a0">
  <div class="row">
    <div class="col-md-3" style="padding-left: 150px">
      <h2 class="mb-1 mt-3">CODEGYM ĐÀ NẴNG</h2>
      <div class="d-flex flex-column flex-md-row flex-lg-column">
        <p>CodeGym – Bệ đỡ hoàn hảo để bắt đầu nghề lập trình: Nếu bạn đặt mục tiêu học để đi làm, xác định cho mình
          tâm lý nghiêm túc và chuẩn bị một tâm trí vững vàng, CodeGym sẽ là bệ đỡ hoàn hảo cho bạn để bắt đầu
          theo đuổi nghề lập trình viên.</p>
        <p class="pl-0 pl-md-3 pl-lg-0"><a href="#" class="btn btn-primary btn-with-arrow js-footer-map-toggle"><i
          class="icon-placeholder"></i><span>Review CodeGym Đà Nẵng</span></a></p>
      </div>
      <div class="mt-3 mt-md-1 mt-lg-3"></div>
      <h4 class="mb-1 mb-md-2">Địa Điểm</h4>
      <table class="place-table mb-3">
        <tbody>
        <tr>
          <td>1.</td>
          <td>Tại sao chọn CodeGym?</td>
          <td class="text-right"><span>Why?</span></td>
        </tr>
        <tr>
          <td>2.</td>
          <td>Học viên CodeGym</td>
          <td class="text-right"><span>Tìm hiểu ?</span></td>
        </tr>
        <tr>
          <td>3.</td>
          <td>Báo chí</td>
          <td class="text-right"><span>Cập nhật</span></td>
        </tr>
        <tr>
          <td>4.</td>
          <td>Blog CodeGym</td>
          <td class="text-right"><span>Welcome</span></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-9 d-flex">
      <div class="col-md-3 d-flex mt-3" style="padding-left: 210px">
        <div id="nav_menu-1" class="footer-widget4  widget_nav_menu">
          <div class="menu-footer-menu-vi-container">

            <p class="bi bi-bank"><a
              href="https://furamavietnam.com/vi/furama-resort-danang-rack-rate/">Codegym</a>
            </p>
            <p class="bi bi-boombox"><a
              href="https://furamavietnam.com/vi/lifestyle-blog/">Lifestyle Blog</a></p>
            <p class="bi bi-file-earmark-person"><a
              href="https://furamavietnam.com/vi/work-with-us/">Tuyển Dụng</a></p>
            <p class="bi bi-telephone-forward"><a
              href="https://furamavietnam.com/vi/contact/">Liên Hệ</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-9 mt-3" style="padding-left: 250px">
        <h4>
          Liên hệ </h4>
        <ul class="icn-list">
          <li><i class="icon-placeholder"></i>
            <span style="color: #707070;font-size: 14px">295 Nguyen Tat Thanh Street, Thanh Khe Ward, Ngu Hanh Son District, Danang City, Vietnam</span>
            <br>

            <span style="color: #707070;font-size: 14px">Tel.: 84-236-3847 333/888 *</span>
            <span style="color: #707070;font-size: 14px">Fax: 84-236-3847 666</span>
            <br>

            <span style="color: #707070;font-size: 14px">Email:&nbsp;</span>
            <a class="link" style="margin: 0px;padding: 0px;color: #707070;font-size: 14px"
               href="mailto:reservation@furamavietnam.com">reservation@furamavietnam.com
            </a>
            <span
              style="color: #707070;font-size: 14px">&nbsp;*&nbsp;</span>
            <a class="link" style="margin: 0px;padding: 0px;color: #707070;font-size: 14px"
               href="https://www.furamavietnam.com/undefined/">www.furamavietnam.com</a>

            <span style="color: #707070;font-size: 14px">GDS Codes: Amadeus-GD DADFUR, Galileo/Apollo-GD 16236, Sabre-GD 032771, Worldspan- GD DADFU</span>

            <hr>

            <a href="https://www.facebook.com/furamaresort/" target="_blank" rel="noopener"><img
              style="width: 32px;height: 32px;float: left"
              src="https://furamavietnam.com/wp-content/uploads/2019/06/incon-Facbook-1.png"
              alt=""
              width="32" height="32">
            </a>
            <a href="https://www.instagram.com/furama_resort_danang/?hl=vi" target="_blank"
               rel="noopener"><img style="width: 40px;height: 32px;float: left"
                                   src="https://furamavietnam.com/wp-content/uploads/2019/06/social-ins.png"
                                   alt="" width="40" height="32">
            </a>
            <a href="https://www.youtube.com/user/furamaresortvietnam/featured" target="_blank"
               rel="noopener"><img style="width: 40px;height: 32px;float: left"
                                   src="https://furamavietnam.com/wp-content/uploads/2021/10/social-youtube.png"
                                   alt="" width="40" height="32">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
